* {
  box-sizing: border-box;
}

body {
  font-family: Barlow, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.display-flex {
  display: flex;
}

.large-image-row-column > img {
  width: 75%;
  height: auto;
}

.small-image-row-column > img {
  width: 20%;
  height: auto;
}

.justify-content-center {
  justify-content: center;
}

.column-quarter {
  flex-basis: calc(100% / 4);
}

.align-text {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.full-width {
  flex-basis: 100%;
}

.bold {
  font-weight: bold;
}

.big-font {
  font-size: 1.1em;
}

.small-font {
  font-size: 0.9em;
}

.light-padding {
  padding: 0.5em;
}
