button {
  background-color: lightseagreen;
  color: white;
  min-width: 200px;
  padding: 16px;
}

button:hover {
  background-color: firebrick;
  cursor: pointer;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}
