body {
  font-family: "DM Sans", sans-serif;
}

.row {
  display: flex;
}

.text-center {
  text-align: center;
}

.full-width {
  flex-basis: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.display-flex {
  display: flex;
}

.column-fifth {
  flex-basis: 20%;
}

.flex-column {
  flex-direction: column;
}

.light-gray {
  color: lightgray;
}

.flex-image-container > img {
  height: 20rem;
  width: 75%;
  object-fit: cover;
}
